

* {
	margin: 0;
	padding: 0;
	border: none;
  
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: auto;
}
  


/* ------------ TEXTES EN GÉNÉRAL ------------ */

@font-face {
	font-family: "Union-Regular";
	src: url("../../assets/files/font/Union.otf");
}

html {font-size: 62.5%;}
/* 1.0rem vaut alors 10px 
pas mal de mettre les tailles typos en rem (avec en tÃªte des proportions en px)
*/

body {
	font-family: "Union-Regular", Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
	color: #464646;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #464646;

	-moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -webkit-transition: color 100ms linear;
    transition: color 100ms linear;
}

article a {
	color: rgb(150, 150, 150);
}
article a:hover {
	color: #464646;
}

h1, h2, h3, h4 {
	font-family: "Union-Regular", Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
}

h2 a {
	padding: 15px;
}
h1 a:hover, h2 a:hover {
	color: rgb(150, 150, 150);
}


h3, h4 {
	margin-bottom: 16px;
}

h4.counter::before {
	counter-increment: h4;
	content: counter(h4, lower-alpha) ". ";
	
	text-transform: uppercase;
}

main {
	counter-reset: h4;
}

main article {
	margin-bottom: 140px; 
}

main article:last-child {
	margin-bottom: 0px;
}

ul {
	list-style: none;
}

.current a {
	color: rgb(150, 150, 150);
}



/* ------------ MODULE ------------ */

.container_module {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.module {
	width: 50%;
}

.module.left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding-top: 20px;
}

.module.right {
	padding-top: 20px;
}

.module.left div {
	/* sticky à 220px */
	top: 220px;
}

.padding {
	padding: 10px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}
.sticky:before,
.sticky:after {
    content: '';
    display: table;
}




/* ------------ HEADER ------------ */

header {
	padding: 10px;
	height: 200px;
	background: white;

	display: flex;
	flex-direction: column;

	top: 0px;
	z-index: 20;
}

/* la nav qui contient les liens pages */
header nav#page_links {
	position: relative;

	margin: 10px 0 10px 0;
	width: 70%;
	
	flex: 1;
	align-self: flex-end;
}

nav#page_links h2:nth-child(1) {
	left: 0%;
    top: 50%;
}
nav#page_links h2:nth-child(2) {
	left: 18%;
    top: 50%;
	
}
nav#page_links h2:nth-child(3) {
	left: 40%;
    top: 60%;
}
nav#page_links h2:nth-child(4) {
	left: 70%;
    top: 5%;
}
nav#page_links h2:nth-child(5) {
	left: 80%;
    top: 60%;
}

nav#page_links h2 {
	position: absolute;
}

nav#page_links h2:nth-child(even):not(.current):hover,
nav#page_links h2:nth-child(odd):not(.current):hover,
nav#page_links h2:nth-child(even).current,
nav#page_links h2:nth-child(odd).current {
-webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
}

nav#page_links h2:nth-child(even) {
	animation-play-state: running;
    -webkit-animation: myOrbit 20s linear infinite;
       -moz-animation: myOrbit 20s linear infinite;
         -o-animation: myOrbit 20s linear infinite;
            animation: myOrbit 20s linear infinite;
}

nav#page_links h2:nth-child(odd) {
	animation-play-state: running;
    -webkit-animation: myOrbit2 20s linear infinite;
       -moz-animation: myOrbit2 20s linear infinite;
         -o-animation: myOrbit2 20s linear infinite;
            animation: myOrbit2 20s linear infinite;
}

@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}


@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}


@-webkit-keyframes myOrbit2 {
    from { -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { -webkit-transform: rotate(-360deg) translateX(20px) rotate(360deg); }
}

@-moz-keyframes myOrbit2 {
    from { -moz-transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { -moz-transform: rotate(-360deg) translateX(20px) rotate(360deg); }
}

@-o-keyframes myOrbit2 {
    from { -o-transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { -o-transform: rotate(-360deg) translateX(20px) rotate(360deg); }
}

@keyframes myOrbit2 {
    from { transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { transform: rotate(-360deg) translateX(20px) rotate(360deg); }
}





/* la nav qui contient titre + le son */
header nav#titling {
	display: flex;
	align-items: flex-end;
}
nav#titling span {
	margin-left: 10px;
}



/* ------------ PAGE HOME ------------ */

/* la div intro du site */
#site_intro {
	position: absolute;
	z-index: 10;

	color: white;
	background: rgba(70, 70, 70, 0.3);
}

.container_video_100 {
	position: relative;
	width: 100%;
	height: calc(100vh - 200px);
	overflow: hidden;
}

.container_video_50 {
	position: relative;

	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	height: calc(100vh - 350px);

	overflow: hidden;
}
.container_video_50 {
	width: calc(50% - 3px);
}

.video_title {
	display: none;
}
.video_title span {
	color: white;
}

.black_filter {
	visibility: hidden;
	opacity: 0;
}

.container_video_50:hover .video_title, .container_video_100:hover .video_title {
	position: absolute;
	z-index: 7;

	width: 100%;
	height: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.container_video_50:hover .black_filter, .container_video_100:hover .black_filter {
	position: absolute;
	z-index: 6;

	visibility: visible;

	width: 100%;
	height: 100%;
	
	background: black;
	opacity: .4;

	-moz-transition: opacity 300ms linear;
    -o-transition: opacity 300ms linear;
    -webkit-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}



video {
	position: absolute;
	z-index: 1;
	
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.playing .black_filter {
	position: absolute;
	z-index: 6;

	display: block;

	width: 100%;
	height: 100%;
	
	background: black;
	opacity: .2;
}

.playing .video_title {
	position: absolute;
	z-index: 7;

	width: 100%;
	height: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}



/* ------------ PAGE HELICO ------------ */


.ligne {
	display: flex;	
}
.ligne li {
	flex: 1;
}
.legende {
	border-bottom: 1px solid rgb(150, 150, 150);
}



.container_tableau > li {
	border-bottom: 1px solid rgb(150, 150, 150);
}
.container_tableau > li:first-child {
	border-top: 1px solid rgb(150, 150, 150);
	margin-top: 16px;
}

.tableau_contenu {
	display: none;
}
.tableau_contenu.open {
	display: block;
}

.tableau_contenu.solo ul:not(:last-child) {
	border-bottom: 1px solid rgb(150, 150, 150);
}







/* ------------ GRID IMAGES ------------ */

/* les galeries de la page news ont des marges left et right */

article .gallery {
	margin: 10px 0 10px 0;
}
.container_grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(126px, 1fr));
	grid-column-gap: 5px;
	grid-row-gap: 35px;
}

.container_grid figure {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.container_grid figure::before {
	content: "";
  	display: inline-block;
  	width: 1px;
	height: 0;
  	padding-bottom: calc(100% / (2/1));
}

.container_grid figure img {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}




@supports not (display: grid) {
article .gallery {
	margin: 10px -5px 10px 0;
}
.container_grid {
	display: flex;
	flex-wrap: wrap;
}
.container_grid figure {
	width: 25%;
	position: relative;
	overflow: hidden;
	margin-bottom: 35px;
}

.container_grid figure::before {
	content: "";
  	display: inline-block;
  	width: 1px;
	height: 0;
  	padding-bottom: calc(100% / (2/1));
}
.container_grid figure a {
    top: 0;
    overflow: hidden;
    left: 0;
    padding-right: calc(100% - 5px);
    position: absolute;
	height: 100%;
}	

.container_grid figure img {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
}




/* ------------ SLIDER IMAGES ------------ */

.slick-arrow {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translate(0, -50%);
}

.slick-prev {
	left: 0px;
}

.slick-next {
	right: 0px;
}
.slick-lightbox-slick-img {
    max-width: 100% !important;
}
.slick-lightbox-slick-caption {
	color: #464646 !important;
	background: white;
}

.slick-lightbox {
	background: rgba(0,0,0,0) !important;
}



/* ------------ IMAGES ------------ */




/* ------------ AUDIO ELEMENT ------------ */

#play-pause-button {
	cursor: pointer;
	font-weight: bold;

	margin-left: 70px;
}
.play:before {
    content: ">";
}
.pause:before {
    content: "||";
}









/* RESPONSIVE */




@media only screen and (min-width : 0px) and (max-width : 480px) {
#site_intro {
	position: static;
	background: white;
	color:#464646;

}

.container_video_50 {
	width: 100%;
}

.module {
	width: 100%;
}
.module.ligne {
	width: 50%;
}
header nav#page_links {
	width: 100%;
}
.slick-lightbox {
	background: white !important;
}


/* le module en bas à gauche */
.module.left div:not(.sticky) {
	display: none;
}
		
}

@media only screen and (min-width : 481px) and (max-width : 767px) {
#site_intro {
	position: static;
	background: white;
	color:#464646;

}

.container_video_50 {
	width: 100%;
}

.module {
	width: 100%;
}
.module.ligne {
	width: 50%;
}
header nav#page_links {
	width: 100%;
}
.slick-lightbox {
	background: white !important;
}


/* le module en bas à gauche */
.module.left div:not(.sticky) {
	display: none;
}

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

}

@media only screen and (min-width : 1025px) and (max-width : 1300px) {

}

@media only screen and (min-width : 1301px) and (max-width : 1824px){

}

/* Large screens ----------- */
@media only screen and (min-width : 1825px) and (max-width : 2560px) {

}

/* Large screens ----------- */
@media only screen and (min-width : 2561px) {

}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 0px) and (max-device-width : 480px) {


}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 481px) and (max-device-width : 750px) and (orientation : landscape) {


}

@media only screen and (min-width : 481px) {

}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1030px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}


















