/*
.container_grid {
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}
.full.container_grid {
	grid-template-columns: repeat(4, 1fr);
}
*/
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* ------------ TEXTES EN GÉNÉRAL ------------ */ }

::-webkit-scrollbar {
  display: none;
  /* remove scrollbar space */
  width: 0px;
  /* optional: just make scrollbar invisible */
  background: transparent;
  /* optional: show position indicator in red */
  /*
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
*/ }

::selection {
  color: #969696; }

::-moz-selection {
  color: #969696; }

::selection {
  background: transparent; }

::-moz-selection {
  background: transparent; }

@font-face {
  font-family: "Union-Regular";
  src: url("../../assets/files/font/Union.otf"); }

html {
  font-size: 62.5%;
  /* 1.0rem vaut alors 10px 
pas mal de mettre les tailles typos en rem (avec en tÃªte des proportions en px)
*/ }

body {
  font-family: "Union-Regular", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  color: #464646;
  line-height: 15px;
  font-weight: 400; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #464646;
  -moz-transition: color 0ms linear;
  -o-transition: color 0ms linear;
  -webkit-transition: color 0ms linear;
  transition: color 0ms linear; }

article a, article li.link {
  color: #969696; }

article a:hover, article li.link:hover {
  color: #464646; }

footer a {
  color: #464646; }

footer a:hover, .contact a:hover, .contact_news a:hover {
  color: #969696; }

h1, h2, h3, h4 {
  font-family: "Union-Regular", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 400; }

h2 a {
  padding: 25px; }

h1 a:hover, h2 a:hover {
  color: #969696; }

h3, article > h4 {
  margin-bottom: 15px; }

h4.counter::before {
  counter-increment: h4;
  content: counter(h4,lower-alpha) ". ";
  text-transform: uppercase; }

.news_page h4 {
  display: inline-block;
  text-transform: none;
  margin-right: 10px; }

.news_page .container_h4 {
  margin-bottom: 15px; }

main {
  counter-reset: h4; }

main article {
  margin-bottom: calc(15px * 5); }

main article:last-child {
  margin-bottom: 0px; }

main .news_page article {
  margin-bottom: calc(15px * 5); }

main .news_page article:last-child {
  margin-bottom: 0px; }

h1 span {
  margin-left: 10px; }

article ul, article li {
  list-style: none;
  /*
article ul:not(.ligne):not(.container_tableau) li:before, article > li:before {
	content: "— ";
}
article ul:not(.ligne):not(.container_tableau) li.link:before, article > li.link:before {
	content: "— ";
	color: $text-color-active;

	-moz-transition: color $vitesse_hover linear;
    -o-transition: color $vitesse_hover linear;
    -webkit-transition: color $vitesse_hover linear;
    transition: color $vitesse_hover linear;
}
*/ }

small {
  display: inline-block;
  font-size: 0.9rem;
  line-height: 10.5px;
  /* ------------ MODULE ------------ */ }

.content {
  position: relative; }

.container_module {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.module {
  width: 50%; }

.module.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 6px;
  padding-right: calc(8px * 3); }

.module.right {
  padding-top: 23px;
  padding-left: 0px;
  padding-bottom: 6px; }

.module.left div {
  top: 193px; }

.padding {
  padding: 8px; }

.sticky {
  position: -webkit-sticky;
  position: sticky; }

.sticky:before, .sticky:after {
  content: '';
  display: table; }

.button_scroll {
  cursor: pointer; }

.videoWrapper {
  position: relative;
  /* 16:9 */
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-top: 18px;
  margin-bottom: calc(15px * 2); }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.hidden_desktop {
  display: none;
  /* ------------ OPENER ------------ */ }

.noscroll {
  overflow: hidden; }

#opener {
  cursor: pointer;
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: #464646;
  display: flex;
  justify-content: center;
  align-items: center; }

#opener figure {
  width: 104px; }

#opener figure img {
  width: 100%; }

#opener.disabled {
  display: none; }

#opener h1 {
  color: #969696;
  /* ------------ HEADER ------------ */ }

header {
  padding: 8px 8px 6px 8px;
  height: 170px;
  background: white;
  display: flex;
  flex-direction: column;
  top: 0px;
  z-index: 20;
  /* la nav qui contient les liens pages */ }

header nav#page_links {
  position: relative;
  margin: 10px 0 10px 0;
  width: 68%;
  flex: 1;
  align-self: flex-end;
  display: flex;
  justify-content: space-between; }

nav#page_links > div {
  width: 12.5%;
  height: 50%;
  position: relative; }

.container_1, .container_2 {
  align-self: center; }

.container_3, .container_5 {
  align-self: flex-end; }

.container_4 {
  margin-top: 15px;
  align-self: flex-start; }

.container_2, .container_3, .container_5 {
  margin-right: 12.5%; }

nav#page_links h2 {
  position: absolute;
  animation-play-state: running;
  /*
nav#page_links div.current h2,
nav#page_links div:hover h2,
nav#page_links div:hover .Orbit,
nav#page_links div:hover .Electron, {
	-webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important;
    animation-play-state: paused !important;
}
*/ }

.Orbit.paused, .Orbit.paused .Orbit, .Orbit.paused .Electron, .Orbit.paused h2 {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important; }

.current .Orbit, .current .Orbit .Electron, .current .Orbit h2 {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important; }

.container_3 .Orbit {
  animation-play-state: running;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  -webkit-transform: rotateZ(80deg) rotateY(60deg);
  -ms-transform: rotateZ(80deg) rotateY(60deg);
  -moz-transform: rotateZ(80deg) rotateY(60deg);
  -o-transform: rotateZ(80deg) rotateY(60deg);
  transform: rotateZ(80deg) rotateY(60deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.container_3 .Electron {
  animation-play-state: running;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-animation: animationEllipse3 40s infinite linear;
  -ms-animation: animationEllipse3 40s infinite linear;
  -moz-animation: animationEllipse3 40s infinite linear;
  -o-animation: animationEllipse3 40s infinite linear;
  animation: animationEllipse3 40s infinite linear; }

.container_3 .Electron h2 {
  animation-play-state: running;
  position: absolute;
  -webkit-transform: rotateZ(-80deg);
  -ms-transform: rotateZ(-80deg);
  -moz-transform: rotateZ(-80deg);
  -o-transform: rotateZ(-80deg);
  transform: rotateZ(-80deg); }

.container_4 .Orbit {
  animation-play-state: running;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  -webkit-transform: rotateY(60deg);
  -ms-transform: rotateY(60deg);
  -moz-transform: rotateY(60deg);
  -o-transform: rotateY(60deg);
  transform: rotateY(60deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.container_4 .Electron {
  animation-play-state: running;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-animation: animationEllipse1 40s infinite linear;
  -ms-animation: animationEllipse1 40s infinite linear;
  -moz-animation: animationEllipse1 40s infinite linear;
  -o-animation: animationEllipse1 40s infinite linear;
  animation: animationEllipse1 40s infinite linear; }

.container_5 .Orbit {
  animation-play-state: running;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  -webkit-transform: rotateY(60deg);
  -ms-transform: rotateY(60deg);
  -moz-transform: rotateY(60deg);
  -o-transform: rotateY(60deg);
  transform: rotateY(60deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.container_5 .Electron {
  animation-play-state: running;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-animation: animationEllipse2 40s infinite linear;
  -ms-animation: animationEllipse2 40s infinite linear;
  -moz-animation: animationEllipse2 40s infinite linear;
  -o-animation: animationEllipse2 40s infinite linear;
  animation: animationEllipse2 40s infinite linear; }

nav#page_links h2.anim_1 {
  -webkit-animation: animationOrbit1 25s linear infinite;
  -ms-animation: animationOrbit1 25s linear infinite;
  -moz-animation: animationOrbit1 25s linear infinite;
  -o-animation: animationOrbit1 25s linear infinite;
  animation: animationOrbit1 25s linear infinite; }

nav#page_links h2.anim_2 {
  -webkit-animation: animationOrbit2 25s linear infinite;
  -ms-animation: animationOrbit2 25s linear infinite;
  -moz-animation: animationOrbit2 25s linear infinite;
  -o-animation: animationOrbit2 25s linear infinite;
  animation: animationOrbit2 25s linear infinite; }

@keyframes animationOrbit1 {
  0% {
    -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg);
    -ms-transform: rotate(0deg) translateX(10px) rotate(0deg);
    -moz-transform: rotate(0deg) translateX(10px) rotate(0deg);
    -o-transform: rotate(0deg) translateX(10px) rotate(0deg);
    transform: rotate(0deg) translateX(10px) rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg);
    -ms-transform: rotate(360deg) translateX(10px) rotate(-360deg);
    -moz-transform: rotate(360deg) translateX(10px) rotate(-360deg);
    -o-transform: rotate(360deg) translateX(10px) rotate(-360deg);
    transform: rotate(360deg) translateX(10px) rotate(-360deg); } }

@keyframes animationOrbit2 {
  0% {
    -webkit-transform: rotate(90deg) translateX(10px) rotate(-90deg);
    -ms-transform: rotate(90deg) translateX(10px) rotate(-90deg);
    -moz-transform: rotate(90deg) translateX(10px) rotate(-90deg);
    -o-transform: rotate(90deg) translateX(10px) rotate(-90deg);
    transform: rotate(90deg) translateX(10px) rotate(-90deg); }

  100% {
    -webkit-transform: rotate(450deg) translateX(10px) rotate(-450deg);
    -ms-transform: rotate(450deg) translateX(10px) rotate(-450deg);
    -moz-transform: rotate(450deg) translateX(10px) rotate(-450deg);
    -o-transform: rotate(450deg) translateX(10px) rotate(-450deg);
    transform: rotate(450deg) translateX(10px) rotate(-450deg); } }

@keyframes animationEllipse1 {
  0% {
    -webkit-transform: rotateZ(0deg) translateX(30px) rotateZ(0deg) rotateY(-60deg);
    -ms-transform: rotateZ(0deg) translateX(30px) rotateZ(0deg) rotateY(-60deg);
    -moz-transform: rotateZ(0deg) translateX(30px) rotateZ(0deg) rotateY(-60deg);
    -o-transform: rotateZ(0deg) translateX(30px) rotateZ(0deg) rotateY(-60deg);
    transform: rotateZ(0deg) translateX(30px) rotateZ(0deg) rotateY(-60deg); }

  100% {
    -webkit-transform: rotateZ(360deg) translateX(30px) rotateZ(-360deg) rotateY(-60deg);
    -ms-transform: rotateZ(360deg) translateX(30px) rotateZ(-360deg) rotateY(-60deg);
    -moz-transform: rotateZ(360deg) translateX(30px) rotateZ(-360deg) rotateY(-60deg);
    -o-transform: rotateZ(360deg) translateX(30px) rotateZ(-360deg) rotateY(-60deg);
    transform: rotateZ(360deg) translateX(30px) rotateZ(-360deg) rotateY(-60deg); } }

@keyframes animationEllipse2 {
  0% {
    -webkit-transform: rotateZ(360deg) translateX(30px) rotateZ(-360deg) rotateY(-60deg);
    -ms-transform: rotateZ(360deg) translateX(30px) rotateZ(-360deg) rotateY(-60deg);
    -moz-transform: rotateZ(360deg) translateX(30px) rotateZ(-360deg) rotateY(-60deg);
    -o-transform: rotateZ(360deg) translateX(30px) rotateZ(-360deg) rotateY(-60deg);
    transform: rotateZ(360deg) translateX(30px) rotateZ(-360deg) rotateY(-60deg); }

  100% {
    -webkit-transform: rotateZ(0deg) translateX(30px) rotateZ(0deg) rotateY(-60deg);
    -ms-transform: rotateZ(0deg) translateX(30px) rotateZ(0deg) rotateY(-60deg);
    -moz-transform: rotateZ(0deg) translateX(30px) rotateZ(0deg) rotateY(-60deg);
    -o-transform: rotateZ(0deg) translateX(30px) rotateZ(0deg) rotateY(-60deg);
    transform: rotateZ(0deg) translateX(30px) rotateZ(0deg) rotateY(-60deg); } }

@keyframes animationEllipse3 {
  /*
nav#page_links h2.anim_1:nth-child(even) {
	position: absolute;
	animation-play-state: running;
	top: 50%;	
    -webkit-animation: animationLeft 5s linear infinite;
       -moz-animation: animationLeft 5s linear infinite;
         -o-animation: animationLeft 5s linear infinite;
            animation: animationLeft 5s linear infinite;
}

nav#page_links h2.anim_1:nth-child(odd) {
	position: absolute;
	animation-play-state: running;
	top: 50%;
	left: 80px;
    -webkit-animation: animationRight 5s linear infinite;
       -moz-animation: animationRight 5s linear infinite;
         -o-animation: animationRight 5s linear infinite;
            animation: animationRight 5s linear infinite;
}

@keyframes animationLeft {
  0%    { @include transform(rotate(0deg) translateX(40px) rotate(0deg)); }
  50%   { @include transform(rotate(360deg) translateX(40px) rotate(-360deg)); visibility: hidden; }
  100%  { @include transform(rotate(360deg) translateX(40px) rotate(-360deg)); visibility: hidden; }
}

@keyframes animationRight {
  0%    { @include transform(rotate(-180deg) translateX(40px) rotate(180deg)); visibility: hidden; }
  50%   { @include transform(rotate(180deg) translateX(40px) rotate(-180deg)); visibility: hidden; }
  100%  { @include transform(rotate(-180deg) translateX(40px) rotate(180deg)); }
}
*/
  /* la nav qui contient titre + le son + le picto menu burger*/
  0% {
    -webkit-transform: rotateZ(180deg) translateX(30px) rotateZ(-180deg) rotateY(-60deg);
    -ms-transform: rotateZ(180deg) translateX(30px) rotateZ(-180deg) rotateY(-60deg);
    -moz-transform: rotateZ(180deg) translateX(30px) rotateZ(-180deg) rotateY(-60deg);
    -o-transform: rotateZ(180deg) translateX(30px) rotateZ(-180deg) rotateY(-60deg);
    transform: rotateZ(180deg) translateX(30px) rotateZ(-180deg) rotateY(-60deg); }

  100% {
    -webkit-transform: rotateZ(540deg) translateX(30px) rotateZ(-540deg) rotateY(-60deg);
    -ms-transform: rotateZ(540deg) translateX(30px) rotateZ(-540deg) rotateY(-60deg);
    -moz-transform: rotateZ(540deg) translateX(30px) rotateZ(-540deg) rotateY(-60deg);
    -o-transform: rotateZ(540deg) translateX(30px) rotateZ(-540deg) rotateY(-60deg);
    transform: rotateZ(540deg) translateX(30px) rotateZ(-540deg) rotateY(-60deg); } }

header nav#titling {
  display: flex;
  align-items: flex-end;
  /* la div qui contient titre + le son */ }

nav#titling div {
  display: flex; }

.picto_burger {
  display: none; }

.picto_burger img {
  width: 100%;
  /* ------------ FOOTER ------------ */ }

footer {
  display: flex;
  justify-content: space-between;
  height: 170px; }

footer .module.left {
  flex-direction: row; }

footer .module.right {
  display: flex; }

footer .contact {
  align-self: flex-end; }

footer .credits {
  align-self: flex-end;
  line-height: 10.5px; }

footer .credits li {
  display: inline; }

footer .credits li:last-child {
  margin-right: 0px;
  /* ------------ PAGE HOME ------------ */
  /* la div intro du site */ }

#site_intro {
  top: 170px;
  z-index: 10;
  padding: 6px 8px 6px 8px;
  color: #e6e6e6;
  background: rgba(0, 0, 0, 0.2);
  -moz-transition: top 400ms linear;
  -o-transition: top 400ms linear;
  -webkit-transition: top 400ms linear;
  transition: top 400ms linear; }

#site_intro .contact {
  margin-top: 15px; }

.container_video_100 {
  width: 100%;
  height: calc(100vh - 170px);
  overflow: hidden; }

.container_video_100:not(.sticky) {
  position: relative; }

.sticky.container_video_100 {
  top: 170px; }

.container_site_intro {
  width: 100%;
  height: calc(100vh - 170px + 300px); }

.container_vid_intro {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: 100%;
  height: calc(100vh - 170px + 300px); }

.container_video_50 {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: calc(33vw - (15px*4));
  overflow: hidden; }

.container_video_50 {
  width: calc(50% - (4px/2)); }

.video_title {
  position: absolute;
  z-index: 7;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  -moz-transition: opacity 0ms linear;
  -o-transition: opacity 0ms linear;
  -webkit-transition: opacity 0ms linear;
  transition: opacity 0ms linear; }

.video_title span {
  color: #e6e6e6; }

.black_filter {
  position: absolute;
  z-index: 6;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: black;
  -moz-transition: opacity 0ms linear;
  -o-transition: opacity 0ms linear;
  -webkit-transition: opacity 0ms linear;
  transition: opacity 0ms linear; }

.container_video_50:hover .video_title, .container_video_100:hover .video_title {
  opacity: 1;
  -moz-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear; }

.container_video_50:hover .black_filter, .container_video_100:hover .black_filter {
  opacity: 0.2;
  -moz-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear; }

video {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.playing .black_filter {
  opacity: 0.2;
  -moz-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear; }

.playing .video_title {
  opacity: 1;
  -moz-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear;
  /* ------------ PAGE HELICO ------------ */ }

.ligne {
  display: flex; }

.ligne.col3 li:nth-child(1) {
  width: 35%; }

.ligne.col3 li:nth-child(2) {
  width: 15%; }

.ligne.col3 li:nth-child(3) {
  width: 50%; }

.ligne.col2 li:nth-child(1) {
  flex: 1 0 auto;
  max-width: 80%;
  min-width: 70%; }

.ligne.col2 li:nth-child(2) {
  flex: 1 1 30%;
  min-width: 20%;
  /*
.ligne.col2 li {
  flex: 1 0 30%;
  min-width: 30%;
  max-width: 50%;
}
.ligne.col2 li:first-child {
  flex: 1 0 auto;
  max-width: 70%;
}
*/ }

.legende {
  border-bottom: 1px solid #464646; }

.container_tableau > li {
  border-bottom: 1px solid #464646; }

.container_tableau > li:first-child {
  border-top: 1px solid #464646;
  margin-top: -1px; }

.tableau_contenu {
  display: none; }

.tableau_contenu.open {
  display: block; }

.tableau_contenu.solo ul:not(:last-child) {
  border-bottom: 1px solid #464646; }

.tableau_titre {
  cursor: pointer; }

.tableau_titre:hover {
  color: #969696;
  /* ------------ PAGE NEWS ------------ */
  /* ------------ GRID IMAGES ------------ */
  /* les galeries de la page news ont des marges left et right */ }

article .gallery {
  margin: 18px -4px 0 0; }

.gallery.full {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 4px; }

.margin_debug {
  margin-bottom: calc(15px * (-2)) !important; }

.overflow_debug {
  overflow: hidden;
  margin-bottom: 4px !important; }

.lazyload {
  opacity: 0; }

.lazyloading {
  opacity: 1;
  /*
.container_grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(112px, 1fr));
	grid-column-gap: calc(#{$grid-row-gap});
	grid-row-gap: 2*$hauteur_ligne;
}


.container_grid figure {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.container_grid figure::before {
	content: "";
  	display: inline-block;
  	width: 1px;
	height: 0;
  	padding-bottom: calc(100% / (2/1));
}

.container_grid figure img {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
*/ }

.container_grid {
  display: flex;
  flex-wrap: wrap; }

.container_grid figure {
  position: relative;
  overflow: hidden;
  margin-bottom: calc(15px * 2); }

.container_grid figure::before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0;
  padding-bottom: calc(100% / (2/1)); }

.container_grid figure a {
  top: 0;
  overflow: hidden;
  left: 0;
  padding-right: calc(100% - (4px));
  position: absolute;
  height: 100%; }

.container_grid figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  /* ------------ SLIDER IMAGES ------------ */ }

.slick-arrow {
  position: absolute;
  z-index: 10;
  top: 0px;
  width: 50%;
  height: 100%;
  padding: 8px;
  display: flex;
  align-items: center; }

.slick-prev {
  left: 0px;
  cursor: w-resize; }

.slick-next {
  right: 0px;
  cursor: e-resize;
  justify-content: flex-end; }

.slick-arrow span {
  color: white; }

.slick-lightbox-slick-caption {
  color: #464646 !important;
  background: white; }

.slick-lightbox {
  background: rgba(0, 0, 0, 0) !important; }

.slick-lightbox-slick-item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.slick-lightbox-slick-item-inner figure {
  position: relative;
  z-index: 12;
  height: calc(100vh - (15px*4));
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.slick-lightbox-slick-item-inner figure span {
  position: relative; }

.slick-lightbox-slick-img {
  display: block;
  max-height: calc(100vh - (14px*4)) !important;
  max-width: 100%; }

.slick-slide img {
  display: block; }

.slick-lightbox-slick-caption {
  position: absolute;
  bottom: 0px;
  padding: 4px 8px calc(15px*2) 8px;
  width: 100%;
  margin: 0 !important;
  text-align: left;
  /* ------------ IMAGES ------------ */
  /* ------------ AUDIO ELEMENT ------------ */ }

#play-pause-button {
  cursor: pointer;
  font-weight: bold;
  margin-left: 70px; }

svg {
  fill: #464646;
  -moz-transition: fill 0ms linear;
  -o-transition: fill 0ms linear;
  -webkit-transition: fill 0ms linear;
  transition: fill 0ms linear; }

#play img:nth-child(2) {
  display: none; }

#play.hover img:nth-child(1) {
  display: none; }

#play.hover img:nth-child(2) {
  display: block; }

#pause img:nth-child(2) {
  display: none; }

#pause.hover img:nth-child(1) {
  display: none; }

#pause.hover img:nth-child(2) {
  display: block; }

.play #play {
  display: inline-block; }

.play #pause {
  display: none; }

.pause #play {
  display: none; }

.pause #pause {
  display: inline-block;
  /* RESPONSIVE */ }

#pause, #play {
  position: relative;
  width: 9.45px;
  top: 0.1px; }

#pause img, #play img {
  width: 100%; }

@media only screen and (min-width: 0px) and (max-width: 480px) {
  html {
    font-size: 61.5%; }

  body, h1, h2, h3, h4 {
    font-size: 1.45rem;
    line-height: 18px; }

  small {
    display: inline-block;
    font-size: 1.1rem;
    line-height: 12.4px; }

  #opener figure {
    width: 125px; }

  header {
    height: 66px;
    flex-direction: column-reverse; }

  nav#titling {
    height: calc(66px - 6px - 8px);
    justify-content: space-between; }

  #play-pause-button {
    margin-left: 29px; }

  .picto_burger {
    display: block; }

  .picto_burger figure:nth-child(2) {
    display: none; }

  .open.picto_burger figure:nth-child(1) {
    display: none; }

  .open.picto_burger figure:nth-child(2) {
    display: block; }

  #burger, #cross {
    width: 23.5px;
    position: relative;
    height: 21px;
    top: -2px;
    margin-bottom: 2px; }

  #pause, #play {
    width: 12.125px; }

  #play-pause-button {
    height: auto;
    width: auto;
    overflow: auto; }

  header nav#page_links {
    display: none;
    overflow: hidden; }

  nav#page_links div {
    height: 20%;
    width: 250px; }

  nav#page_links div:nth-child(odd) {
    left: 50px; }

  header.open {
    height: 100vh; }

  header.open nav#page_links {
    display: block;
    padding: 50px 8px 50px 8px; }

  #container_flex_intro {
    display: flex;
    flex-direction: column; }

  .container_vid_intro {
    order: 1; }

  .container_site_intro {
    order: 2; }

  .container_module, .container_video_100 {
    order: 3; }

  footer {
    order: 4; }

  .container_site_intro {
    width: 100%;
    height: auto; }

  .container_vid_intro {
    position: static; }

  #site_intro {
    position: static;
    background: white;
    color: #464646;
    padding-top: 10px;
    padding-bottom: 0px; }

  .container_vid_intro, .container_video_100, .container_video_50 {
    width: 100%;
    height: calc(75vw - 18px); }

  .container_video_50:first-of-type {
    margin-bottom: 0px; }

  .container_video_50 {
    margin-bottom: calc(66px / 2);
    margin-top: calc(66px / 2); }

  .module {
    width: 100%; }

  .module.right {
    padding-left: 8px; }

  .module.ligne {
    width: 50%; }

  header nav#page_links {
    width: 100%;
    /* le module en bas à gauche */ }

  .module.left {
    padding-top: 6px;
    padding-bottom: 0px; }

  .module.left div.sticky {
    position: static; }

  .news_page .module.left div.sticky {
    margin-bottom: 0px; }

  .container_module:not(footer) .contact {
    display: none; }

  .module.right {
    padding-top: calc(15px * 5); }

  .hidden_desktop {
    display: block;
    width: 100%;
    padding-top: calc(15px * 5); }

  .slick-lightbox-slick-caption {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    padding: 10px; }

  footer {
    height: auto; }

  footer .module.padding.left {
    padding-bottom: 6px;
    order: 2; }

  footer .module.right {
    padding-top: 6px;
    order: 1; }

  footer .credits {
    display: flex; }

  footer.padding {
    padding-bottom: 6px; } }

@media only screen and (min-width: 481px) and (max-width: 768px) {
  header {
    height: auto;
    flex-direction: column-reverse; }

  nav#titling {
    height: 66px;
    justify-content: space-between; }

  #play-pause-button {
    margin-left: 29px; }

  #burger, #cross {
    width: 23.5px;
    position: relative;
    height: 21px;
    top: -3px; }

  .picto_burger {
    display: block; }

  .picto_burger figure:nth-child(2) {
    display: none; }

  .open.picto_burger figure:nth-child(1) {
    display: none; }

  .open.picto_burger figure:nth-child(2) {
    display: block; }

  header nav#page_links {
    display: none;
    overflow: hidden; }

  nav#page_links div {
    height: 20%;
    width: 250px; }

  nav#page_links > div:nth-child(odd) {
    left: 150px; }

  header.open {
    height: 100vh; }

  header.open nav#page_links {
    display: block;
    padding: 50px 8px 50px 8px; }

  #container_flex_intro {
    display: flex;
    flex-direction: column; }

  .container_vid_intro {
    order: 1; }

  .container_site_intro {
    order: 2; }

  .container_module, .container_video_100 {
    order: 3; }

  footer {
    order: 4; }

  .container_site_intro {
    width: 100%;
    height: auto; }

  .container_vid_intro {
    position: static; }

  #site_intro {
    position: static;
    background: white;
    color: #464646;
    padding-top: 10px;
    padding-bottom: 0px; }

  .container_vid_intro, .container_video_100, .container_video_50 {
    width: 100%;
    height: 75vw; }

  .container_video_50:first-of-type {
    margin-bottom: 0px; }

  .module {
    width: 100%; }

  .module.right {
    padding-left: 8px;
    padding-bottom: 6px; }

  .module.ligne {
    width: 50%; }

  header nav#page_links {
    width: 100%; }

  .hidden_desktop {
    display: block;
    width: 100%;
    padding-top: calc(15px * 4);
    /* le module en bas à gauche */ }

  .module.left {
    padding-top: 6px;
    padding-bottom: 0px; }

  .module.left div.sticky {
    position: static; }

  .news_page .module.left div.sticky {
    margin-bottom: 0px; }

  .container_module:not(footer) .contact {
    display: none; }

  .module.right {
    padding-top: calc(15px * 4); }

  .slick-lightbox-slick-caption {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    padding: 10px; }

  footer {
    height: auto;
    flex-direction: column; }

  footer .module.padding.left {
    padding-bottom: 6px;
    order: 2; }

  footer .module.right {
    padding-top: 6px;
    order: 1; }

  footer .credits {
    display: flex; }

  footer.padding {
    padding-bottom: 6px; }

  .container_5 .Electron {
    width: 0px !important; } }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container_2, .container_3, .container_5 {
    margin-right: 0px; }

  .container_5 {
    left: -50px; }

  .container_5 .Orbit {
    width: 60px; }

  .container_5 .Electron {
    width: 0px; }

  .container_5 a {
    padding-right: 5px; } }

@media only screen and (min-width: 1301px) and (max-width: 1600px) {
  /* Large screens ----------- */ }

@media only screen and (min-width: 1601px) and (max-width: 2560px) {
  /* Large screens ----------- */
    body, h1, h2, h3, h4 {
      font-size: 1.3rem;
      line-height: 15.4px; }
    small {
      display: inline-block;
      font-size: 1rem;
      line-height: 11.55px; } }

@media only screen and (min-width: 2561px) {
  /* Smartphones (portrait and landscape) ----------- */
    body, h1, h2, h3, h4 {
      font-size: 1.3rem;
      line-height: 15.4px; }
    small {
      display: inline-block;
      font-size: 1rem;
      line-height: 11.55px; } }

@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
  /* Smartphones (landscape) ----------- */ }

@media only screen and (min-width: 481px) and (max-device-width: 750px) and (orientation: landscape) {
  html {
    font-size: 61.5%; }

  body, h1, h2, h3, h4 {
    font-size: 1.45rem;
    line-height: 18px; }

  small {
    display: inline-block;
    font-size: 1.1rem;
    line-height: 12.4px; }

  #play-pause-button {
    height: auto;
    width: auto;
    overflow: auto;
    margin-left: 29px; }

  #pause, #play {
    width: 13.125px;
    height: 11.55px; } }

@media only screen and (min-width: 481px) {
  /* Smartphones (portrait) ----------- */ }

@media only screen and (max-width: 320px) {
  /* iPhone X */ }

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* iPads (portrait and landscape) ----------- */ }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPads (landscape) ----------- */ }

@media only screen and (min-device-width: 768px) and (max-device-width: 1030px) and (orientation: landscape) {
  /* iPads (portrait) ----------- */ }

@media only screen and (max-width: 480px) {
  .container_grid.count_1 figure {
    width: 100%; }

  .container_grid.count_2 figure {
    width: 50%; }

  .container_grid.count_3 figure {
    width: 33.33%; }

  .container_grid.count_4 figure, .container_grid.count_5 figure, .container_grid.count_6 figure, .container_grid.count_7 figure, .container_grid.count_8 figure, .container_grid.count_9 figure, .container_grid.count_multiple figure {
    width: 25%; }

  .full.container_grid figure {
    width: 25%; } }

@media only screen and (min-width: 481px) and (max-width: 655px) {
  .container_grid.count_1 figure {
    width: 100%; }

  .container_grid.count_2 figure {
    width: 50%; }

  .container_grid.count_3 figure {
    width: 33.33%; }

  .container_grid.count_4 figure, .container_grid.count_5 figure, .container_grid.count_6 figure, .container_grid.count_7 figure, .container_grid.count_8 figure, .container_grid.count_9 figure, .container_grid.count_multiple figure {
    width: 25%; }

  .full.container_grid figure {
    width: 25%;
    /*
.full.container_grid {
	grid-template-columns: repeat(auto-fit, minmax(112px, 1fr));
}
*/ } }

@media only screen and (min-width: 656px) and (max-width: 767px) {
  .container_grid.count_1 figure {
    width: 100%; }

  .container_grid.count_2 figure {
    width: 50%; }

  .container_grid.count_3 figure {
    width: 33.33%; }

  .container_grid.count_4 figure {
    width: 25%; }

  .container_grid.count_5 figure {
    width: 20%; }

  .container_grid.count_6 figure, .container_grid.count_7 figure, .container_grid.count_8 figure, .container_grid.count_9 figure, .container_grid.count_multiple figure {
    width: 16.66%; }

  .full.container_grid figure {
    width: 16.66%;
    /*
.full.container_grid {
  grid-template-columns: repeat(auto-fit, minmax(112px, 1fr));
}
*/ } }

@media only screen and (min-width: 768px) and (max-width: 957px) {
  .container_grid.count_1 figure {
    width: 100%; }

  .container_grid.count_2 figure {
    width: 50%; }

  .container_grid.count_3 figure {
    width: 33.33%; }

  .container_grid.count_4 figure {
    width: 33.33%; }

  .container_grid.count_5 figure, .container_grid.count_6 figure, .container_grid.count_7 figure, .container_grid.count_8 figure, .container_grid.count_9 figure, .container_grid.count_multiple figure {
    width: 33.33%; }

  .full.container_grid figure {
    width: 16.66%;
    /*
.full.container_grid {
  grid-template-columns: repeat(6, 1fr);
}
*/ } }

@media only screen and (min-width: 958px) and (max-width: 1190px) {
  .container_grid.count_1 figure {
    width: 100%; }

  .container_grid.count_2 figure {
    width: 50%; }

  .container_grid.count_3 figure {
    width: 33.33%; }

  .container_grid.count_4 figure {
    width: 25%; }

  .container_grid.count_5 figure, .container_grid.count_6 figure, .container_grid.count_7 figure, .container_grid.count_8 figure, .container_grid.count_9 figure, .container_grid.count_multiple figure {
    width: 25%; }

  .full.container_grid figure {
    width: 12.5%;
    /*
.full.container_grid {
  grid-template-columns: repeat(8, 1fr);
}
*/ } }

@media only screen and (min-width: 1191px) and (max-width: 1300px) {
  .container_grid.count_1 figure {
    width: 100%; }

  .container_grid.count_2 figure {
    width: 50%; }

  .container_grid.count_3 figure {
    width: 33.33%; }

  .container_grid.count_4 figure {
    width: 25%; }

  .container_grid.count_5 figure, .container_grid.count_6 figure, .container_grid.count_7 figure, .container_grid.count_8 figure, .container_grid.count_9 figure, .container_grid.count_multiple figure {
    width: 20%; }

  .full.container_grid figure {
    width: 10%;
    /*
.full.container_grid {
  grid-template-columns: repeat(10, 1fr);
}
*/ } }

@media only screen and (min-width: 1301px) and (max-width: 1656px) {
  .container_grid.count_1 figure {
    width: 100%; }

  .container_grid.count_2 figure {
    width: 50%; }

  .container_grid.count_3 figure {
    width: 33.33%; }

  .container_grid.count_4 figure {
    width: 25%; }

  .container_grid.count_5 figure {
    width: 20%; }

  .container_grid.count_6 figure, .container_grid.count_7 figure, .container_grid.count_8 figure, .container_grid.count_9 figure, .container_grid.count_multiple figure {
    width: 16.66%; }

  .full.container_grid figure {
    width: 8.33%;
    /*
.full.container_grid {
  grid-template-columns: repeat(12, 1fr);
}
*/ } }

@media only screen and (min-width: 1657px) and (max-width: 1889px) {
  .container_grid.count_1 figure {
    width: 100%; }

  .container_grid.count_2 figure {
    width: 50%; }

  .container_grid.count_3 figure {
    width: 33.33%; }

  .container_grid.count_4 figure {
    width: 25%; }

  .container_grid.count_5 figure {
    width: 20%; }

  .container_grid.count_6 figure {
    width: 16.66%; }

  .container_grid.count_7 figure, .container_grid.count_8 figure, .container_grid.count_9 figure, .container_grid.count_multiple figure {
    width: 14.28%; }

  .full.container_grid figure {
    width: 7.14%;
    /*
.full.container_grid {
  grid-template-columns: repeat(14, 1fr);
}
*/ } }

@media only screen and (min-width: 1890px) and (max-width: 2122px) {
  .container_grid.count_1 figure {
    width: 100%; }

  .container_grid.count_2 figure {
    width: 50%; }

  .container_grid.count_3 figure {
    width: 33.33%; }

  .container_grid.count_4 figure {
    width: 25%; }

  .container_grid.count_5 figure {
    width: 20%; }

  .container_grid.count_6 figure {
    width: 16.66%; }

  .container_grid.count_7 figure {
    width: 14.28%; }

  .container_grid.count_8 figure, .container_grid.count_9 figure, .container_grid.count_multiple figure {
    width: 12.5%; }

  .full.container_grid figure {
    width: 6.25%;
    /*
.full.container_grid {
  grid-template-columns: repeat(16, 1fr);
}
*/ } }

@media only screen and (min-width: 2123px) and (max-width: 2355px) {
  .container_grid.count_1 figure {
    width: 100%; }

  .container_grid.count_2 figure {
    width: 50%; }

  .container_grid.count_3 figure {
    width: 33.33%; }

  .container_grid.count_4 figure {
    width: 25%; }

  .container_grid.count_5 figure {
    width: 20%; }

  .container_grid.count_6 figure {
    width: 16.66%; }

  .container_grid.count_7 figure {
    width: 14.28%; }

  .container_grid.count_8 figure {
    width: 12.5%; }

  .container_grid.count_9 figure, .container_grid.count_multiple figure {
    width: 11.11%; }

  .full.container_grid figure {
    width: 5.55%;
    /*
.full.container_grid {
  grid-template-columns: repeat(18, 1fr);
}
*/ } }

@media only screen and (min-width: 2356px) {
  .container_grid.count_1 figure {
    width: 100%; }

  .container_grid.count_2 figure {
    width: 50%; }

  .container_grid.count_3 figure {
    width: 33.33%; }

  .container_grid.count_4 figure {
    width: 25%; }

  .container_grid.count_5 figure {
    width: 20%; }

  .container_grid.count_6 figure {
    width: 16.66%; }

  .container_grid.count_7 figure {
    width: 14.28%; }

  .container_grid.count_8 figure {
    width: 12.5%; }

  .container_grid.count_9 figure {
    width: 11.11%; }

  .container_grid.count_multiple figure {
    width: 10%; }

  .full.container_grid figure {
    width: 5%;
    /*
.full.container_grid {
  grid-template-columns: repeat(20, 1fr);
}
*/ } }
